.homme{
    background-color: blue;
    display: flex;
    align-items: center;
    text-align: center;
}
.femme{
    display: flex;
    background-color: pink;
    align-items: center;
    text-align:center;
}
.avatar{
    border-radius: 50%;
    width: 80%;
}
.genre{
    display: flex;
    align-items: center;
}