.homme{
    background-color: blue;
}
.femme{
    background-color: pink;
}
.avatar{
    border-radius: 50%;
    width: 80%;
}
.genre{
    display: flex;
    align-items: center;
}
.categorie{
    background-color: greenyellow;
}
.row{
    text-align: center;
}