{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<h1 class="text-center pt-2">Accueil</h1>
{# 
<ul>
{% for  leNom in lesNoms %}
    <li>{{leNom|upper}}</li>
    {% endfor %} 
    {% if lage > 17 %}
    <p>Vous êtes majeur</p>
    {% else %}
        <p>Vous êtes mineur</p>
    {% endif %}
</ul> 
#}
{% endblock %}
