{% extends 'base.html.twig' %}
{% block title %}Liste des catégories{% endblock %}
{% block body %}
<div class="row">
{% for categorie in lesCategories %} 
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
            <div class="card mb-3 container, d-flex align-items-center" style="width: 18rem;"> 
                <h4 class="card-title text-center">{{categorie.libelle}}</h4>
                <img style="height: auto; max-width: 200px; display: block;" src="{{categorie.image}}" class="image mx-auto my-3" alt="image">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{categorie.description}}</li>
                <div class= "card-body">
                    <a href="{{path('ficheCategorie',{'id':categorie.id})}}" class="btn btn-success btn-block text-center w-100">Détail...</a>
                </div>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
